<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/smartideo.js">
</script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/lazyload.min.js">
</script>
<script src="https://file.hanyu.cool/site/life/static/v1/js/popper.min.js">
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/plugins.min.js">
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/ResizeSensor.min.js">
</script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/theia-sticky-sidebar.min.js">
</script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/h.js">
</script>
<script src="https://file.hanyu.cool/site/life/static/v1/js/highlight.pack.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-mousewheel/3.1.8/jquery.mousewheel.min.js"></script>
<script src="https://file.hanyu.cool/site/life/static/v1/js/lightgallery-all.min.js"></script>

<!-- single -->
<!-- <script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/jimu.js"></script>
<script type="text/javascript" src="https://file.hanyu.cool/site/life/static/v1/js/nice-poster.js"></script> -->
<!-- single -->