<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
  <title>{{ $.Site.Data.text.siteTitle }}</title>
  <meta name="robots" content="noindex,follow">
  <meta name="msapplication-TileImage" content="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png">
  <link rel="dns-prefetch" href="https://s.w.org/">
  <link rel="stylesheet" id="smartideo_css-css" href="https://file.hanyu.cool/site/life/static/v1/css/smartideo.css" type="text/css" media="screen">
  <link rel="stylesheet" id="jimu-css-css" href="https://file.hanyu.cool/site/life/static/v1/css/jimu.css" type="text/css" media="all">
  <link rel="stylesheet" id="jimu-gutenberg-css-css" href="https://file.hanyu.cool/site/life/static/v1/css/gutenberg-custom.css" type="text/css" media="all">
  <link rel="stylesheet" id="iconfont-css" href="https://file.hanyu.cool/site/life/static/v1/css/iconfont.css" type="text/css" media="all">
  <link rel="stylesheet" id="nicetheme-css" href="https://file.hanyu.cool/site/life/static/v1/css/h.css" type="text/css" media="all">
  <link rel="stylesheet" id="style-css" href="https://file.hanyu.cool/site/life/static/v1/css/style.css" type="text/css" media="all"> 

  <link rel="stylesheet" id="HighlightCss-css" href="https://file.hanyu.cool/site/life/static/v1/css/a11y-dark.css" type="text/css" media="all">
  <link rel="stylesheet" id="LightgalleryCss-css" href="https://file.hanyu.cool/site/life/static/v1/css/lightgallery.min.css" type="text/css" media="all">
  <style type="text/css">.hljs-ln{border-collapse:collapse}.hljs-ln td{padding:0; border:none;}.hljs-ln-n:before{content:attr(data-line-number)}</style>
  <style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
  <link rel="icon" href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" sizes="32x32">
  <link rel="icon" href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" sizes="192x192">
  <link rel="apple-touch-icon" href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png">
  <link href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" rel="apple-touch-icon">
  <link href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" rel="apple-touch-icon" sizes="76x76">
  <link href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" rel="apple-touch-icon" sizes="120x120">
  <link href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png" rel="apple-touch-icon" sizes="152x152">
  <link rel="shortcut icon" href="https://file.hanyu.cool/site/tech/static/v1/img/favicon.png">
</head>